$primary: #0a084e;
$primary-light: rgba($primary, .4);
$secondary: #ec5c46;
$light: rgba(128, 73, 169, 0.15);
$green: #00c9b8;
$blue-light: #0099CB;
$page-bg: #f7f9fd;
$purple: #747CF3;
$white: white;
$black: black;
$dark: #1d252d;
$text-light: #d9d9d9;
$text-dark: #212a36;
$middle: #8e9aa0;
$success: #00c48c;
$success-light: rgba($color: $success, $alpha: 0.11);
$error: #ff375e;
$error-light: rgba($color: $error, $alpha: 0.11);
$inprogress: #d6a100;
$inprogress-light: rgba($color: $inprogress, $alpha: 0.11);
$box-shadow: 0 3px 12px rgba(6, 11, 47, 0.06);
$background-dark: #1950E1;


$shakespeare: rgb(92, 184, 217); // Shakespeare
$lochinvar: #075653; // Lochinvar 
$tory-blue: rgb(51, 102, 204); // Tory Blue
$silver-tree: rgb(42, 145, 130); // Silver Tree
$sea-green: rgb(47, 163, 93); // Sea Green
$ligth-green: rgba(47, 163, 93, 0.123); // Sea Green
$curious-blue: rgb(41, 135, 182); // Curious Blue
$cerulean-blue: rgb(34, 80, 163); // Cerulean Blue
$chathams-blue: rgb(23, 84, 120); // Chathams Blue
$energy-yellow: rgb(255, 191, 47); // Energy Yellow
$purple-mountain-s-majesty: rgb(134, 100, 171); // Purple Mountain's Majesty
$roman: rgb(229, 43, 32); // Roman
$gamboge: rgb(222, 160, 20); // Gamboge
$milano-red: rgb(200, 20, 10); // Milano Red
$river-bed: rgb(53, 60, 67); // River Bed
$gray-1: rgb(204, 206, 208); // gray-1
$gray: rgb(236, 236, 238); // gray
$gray-2: rgb(249, 249, 251); // gray-2
$black: rgb(51, 51, 51); // Black



