<div [className]="'textAlign' | translate" [dir]="'dir' | translate">
    <app-dialogheader [text]="'employeeattendance.employeeAttedancesLog'" (onclick)="onNoClick('Close')"></app-dialogheader>
    <mat-dialog-content class="mat-typography" [formGroup]="form">
      <div class="example-container">
        <div class="row">
          <div class="col-md-5">
            <p class="text-center">{{'employeeattendance.employeeDefaultImage' | translate}}</p>
            <img mat-card-image [src]="emplyeeDefaultImage"
            style="height: 162px; object-fit: scale-down;">
          </div>
                      <!-- style="height: 10em;" width="100%"> -->

          <div class="col-md-2"></div>
          <div class="col-md-5">
            <p class="text-center">{{'employeeattendance.movementImage' | translate}}</p>
            <img mat-card-image [src]="movementImage" 
            style="height: 162px; object-fit: scale-down;">
          </div>
          <!-- style="height: 10em;" width="100%" -->
        </div>
        <div class=row>
          <mat-form-field appearance="outline" class="col-12 col-md-6">
            <mat-label>{{'employeeattendance.employeeName' | translate}}</mat-label>
            <input  [readonly]="true" matInput formControlName="{{'field.employeeName' | translate}}" >
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-12 col-md-6">
            <mat-label>{{'employeeattendance.terminalSn' | translate}}</mat-label>
            <input [readonly]="true" matInput formControlName="terminalSn"  [readonly]="isViewDetils">
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-12 col-md-6">
            <mat-label>{{'employeeattendance.terminalIp' | translate}}</mat-label>
            <input  [readonly]="true" matInput formControlName="terminalIp"  [readonly]="isViewDetils">
          </mat-form-field>

         
                 

          <mat-form-field appearance="outline" class="col-12 col-md-6">
            <mat-label>{{'employeeattendance.timeEntry' | translate}}</mat-label>
            <input [readonly]="true" matInput formControlName="timeEntryStr"  [readonly]="isViewDetils">
          </mat-form-field>       

          <mat-form-field appearance="outline" class="col-12 col-md-6">
            <mat-label> {{'employeeattendance.remark' | translate}} </mat-label>

            <mat-select [disabled]="true" formControlName="remarkId">
              <mat-option *ngFor="let remark of remarks" [value]="remark.id"> 
                {{ localize.currentLang =='Fl' ? remark.nameFl : remark.nameSl }}</mat-option>
            </mat-select>
          </mat-form-field>
                 
        <mat-form-field appearance="outline" class="col-12 col-md-6">
          <mat-label> {{'employeeattendance.logType' | translate}} </mat-label>
            <mat-select formControlName="logTypeId"  [disabled]="isViewDetils" >
              <mat-option *ngFor="let logType of logTypes" [value]="logType.id"> 
                {{ localize.currentLang =='Fl' ? logType.nameFl : logType.nameSl }}</mat-option>
            </mat-select>
          </mat-form-field>

          
  
        </div>
      </div>
    </mat-dialog-content>
  
    <mat-dialog-actions align="end" *ngIf="!isViewDetils">
        <button data-display="static" mat-raised-button color="primary" [disabled]="!this.form.valid" cdkFocusInitial
          (click)="onEditSave(form.value)">{{'saveclose' | translate}}</button>
      </mat-dialog-actions>
  
  </div>
