<div relative>
    <div style="text-align:center; padding: 5px;">
        <a routerLink="/main/permissions/employee-fullday-permissions" mat-raised-button color="primary" target="_blank">{{'organizations.GoToEmployeeFulldayPermissionsPage' | translate}}</a>
         </div>
    <app-data-table [url]="{
        getAll: 'EmployeeFulldayPermissions/GetEmployeeFullDayExpireAllPagedDashboard',
        delete:'EmployeeFulldayPermissions/delete'
      }"  [id]="'id'" [columns]="columns" [actions]="actions" [options]="{
          globalSearch: true,
          details: false,
          print:true
        }" [tableData]="tableData">
      </app-data-table>
  </div>
  