
<span class="selectDropDown">
    <ng-select [disabled]="disabledCondition"  #myselect [items]="itemsData"  
    [(ngModel)]="selectedValue" [bindLabel]="name1" [bindValue]="id" class="ngSelect"
        [appendTo]="'.selectDropDown'" [placeholder]="placeholder" [searchable]="isSearchable" [multiple]="isMultiple"
        [virtualScroll]="isVirtualScroll" [loading]="loading" (change)="itemSelected($event)"
        (scrollToEnd)="onScrollToEnd()" [typeahead]="InputSearch$" [notFoundText]="'noEmployeefound'| translate"> 
        <ng-template *ngIf="hasTemplate" ng-option-tmp let-item="item" let-search="searchTerm">
            <div>
                <div class="row" [class.OutOff]="!item.isActive" [class.right] ="localize.lang === 'ar'" style="color: #3f51b5; font-size: medium; ">
                    <div class="col-sm-2 border" >{{item.employeeNumber}}</div>
                    <div class="col-sm-6 border text-wrap">{{localize.currentLang =='Sl' ? item.employeeNameSl : item.employeeNameFl}}</div>
                    <div class="col-sm-4 border">{{item.civilId}}</div>
                </div>
            </div>
        </ng-template>
    </ng-select>
</span>