.example-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.example-container > * {
    width: 100%;
}
// =========================


  
  .btn {
    border: 2px solid rgb(54, 81, 235);
    color:rgb(26, 46, 46);
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
  }
  
  .move{
    padding-top: 2% !important
  }
  ::ng-deep .mat-radio-label {
    padding: 20px 7px !important;
  }
  ::ng-deep .mat-slide-toggle {
    padding: 6px !important;
  }


  .mat-dialog-actions[align=end] {
    border-top: 1px solid rgb(0, 111, 194);
}

.mat-dialog-actions {
    padding: 8px 0;
    margin-bottom: -15px;
}
