agm-map {
    height: 350px;
  }

  .test-input{
    position: absolute;
    z-index: 1;
    width: 44%;
    right: 18px;
  }

  .test-input2{
    position: absolute;
    z-index: 1;
    width: 100px;
    left: 18px;
  }

  .test-button{
    position: absolute;
    z-index: 1;
    left: 18px;
    top: 15%;
  }
  .test-button2{
    position: absolute;
    z-index: 1;
    left: 18px;
    top: 20%;
  }
