<div [className]="'textAlign' | translate" [dir]="'dir' | translate">
  <app-dialogheader [text]="'audit.auditDetail'" (onclick)="onNoClick('Close')"></app-dialogheader>
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="row" style="border: 1px solid #a9a9ad;padding: 11px;box-shadow: 1px 1px 7px 3px #a3a4ab;border-radius: 12px;text-align: center;">
          <div class="col-md-4"><p>{{ 'audit.changedBy' | translate }}:  {{mainModel.changedBy}}</p></div>   
          <div class="col-md-4"><p>{{ 'audit.doneOn' | translate }}:  {{localize.lang =='en' ? mainModel.employeeNameFl : mainModel.employeeNameSl}}</p></div>   
          <div class="col-md-4"><p>{{ 'audit.screenName' | translate }}:  {{mainModel.componentName | translate }}</p></div>   
      </div>
    </div>
  </div>
  <mat-dialog-content class="mat-typography"> 
    <div class="example-container">
      <div class="row" *ngIf="model.auditRecords.length == 0">
        <h3 style="text-align: center;width: inherit;color: red;background: #f3f5f6;">{{'audit.noChangesDone' | translate}}</h3>
      </div>
      <div class=row *ngIf="model.auditRecords.length !== 0">
        <table class="col-md-12">
          <thead>
            <th>{{'audit.propName' | translate}}</th>
            <th *ngIf="mainModel.actionId != 1">{{'audit.propOldValue' | translate}}</th>
            <th *ngIf="mainModel.actionId != 3">{{'audit.propNewValue' | translate}}</th>
            <th *ngIf="mainModel.actionId == 2">{{'audit.propType' | translate}}</th>      
          </thead>            
          <tbody>
             <tr *ngFor="let item of model.auditRecords">
                <td>{{(item.propName | auditField: mainModel.screenName) | translate}}</td>
                <td *ngIf="mainModel.actionId != 1">
                  <mat-checkbox *ngIf="(item.propOldValue | lowercase) == 'true'" [checked]="true" [disabled]="true">
                  </mat-checkbox>
                  <mat-checkbox *ngIf="(item.propOldValue | lowercase) == 'false'" [checked]="false"  [disabled]="true">
                  </mat-checkbox>
                  <p *ngIf="(item.propOldValue | lowercase) !== 'false' && (item.propOldValue | lowercase) !== 'true'">
                    {{item.propOldValue}}
                  </p>
                </td>
                <td *ngIf="mainModel.actionId != 3">
                  <mat-checkbox *ngIf="(item.propNewValue | lowercase) == 'true'" [checked]="true" [disabled]="true">
                  </mat-checkbox>
                  <mat-checkbox *ngIf="(item.propNewValue | lowercase) == 'false'" [checked]="false"  [disabled]="true">
                  </mat-checkbox>
                  <p *ngIf="(item.propNewValue | lowercase) !== 'false' && (item.propNewValue | lowercase) !== 'true'">
                    {{item.propNewValue}}
                  </p>
                </td>
                <td *ngIf="mainModel.actionId == 2">{{item.propType | translate}}</td>
              </tr>
          </tbody>
        </table>
        <!-- <h3 style="text-align: center;width: inherit;color: red;background: #f3f5f6;">{{'audit.FieldId' | translate}} : {{mainModel.fieldIds}}</h3> -->
      </div>
     
    </div>
  </mat-dialog-content>
</div>

