table {
  width: 100%;
}
.mat-elevation-z8{
  background: #fff
}
.mat-form-field{
  display: block;
}
.container-fluid{
  border-bottom: 1px solid #eee;
}
.mat-card {
  border: 2px solid aqua
}

.example-container {
display: flex;
flex-direction: column;
width: 100%;
}


.without-ampm::-webkit-datetime-edit-ampm-field, .without-ampm::-webkit-calendar-picker-indicator {
  display: none;
}
