ul {
    list-style-type: none;
    padding: 4px;
  }

  .rcorners {
    border-radius: 25px;
    padding: 10px;
    width: 110px;
    height: 46px;
    color: #fff;
  }

  .checked{
    background-color: #47a447;
    border-color: #398439;
  }

  .unchecked{
    background-color: #006fc2;
    border-color: #006fc2;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #1045a5 !important;
}