<div [className]="'textAlign' | translate" [dir]="'dir' | translate">

    <app-dialogheader [text]="'overTimeOrders.overtimeOrder'" (onclick)="onNoClick('Close')"></app-dialogheader>
    <mat-card  class="example-container">
    <mat-dialog-content class="mat-typography" [formGroup]="form">
      <mat-accordion>
        <div class="example-container">
          <div class=row>
          
           
            <div class="col-12 col-md-12">
              <app-select [url]="'Employees/GetEmployeeDropDown'" [disabledCondition]="isDisable" formControlName="employeeId"
              [name]="'field.fullName' | translate" [isSearchable]="true" (cancelEvent)="onEmployeeCancel()"
              [hasTemplate]="true" [isMultiple]="false"
              [placeholder]="'employeeSelects' | translate"></app-select>
            </div>
            <mat-form-field appearance="outline" class="col-12 col-md-3">
              <mat-label>{{'overTimeOrders.decisionNumber' | translate}}</mat-label>
              <input required type="number" matInput formControlName="decisionNumber"  min="0" oninput="this.value = Math.abs(this.value)">
            </mat-form-field> 
            <div class="col-12 col-md-3">
               <!-- <mat-label>{{'overTimeOrders.startDate' | translate}}</mat-label>
              <input required title="{{'lookup.tooltip' | translate}}"
               matInput [matDatepicker]="startDatePicker" (dateChange)="setEndDate();" formControlName="startDate" [(ngModel)]="startDate">
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker (opened)="onOpen(startDatePicker)" #startDatePicker [calendarHeaderComponent]="header"></mat-datepicker>                     -->
              <app-mat-datepicker-shared 
              [parentForm]="form" [validform]="form.valid"  
              [lblName]= "'overTimeOrders.startDate' | translate"   
              [required]="true"  (event)="setEndDate(); setSelectDays();"
              [title]="'lookup.tooltip' | translate"   
              [matDatepicker]="'startDatePicker'"
              [namecontrol]="'startDate'" >
            </app-mat-datepicker-shared> 
            </div>
            <div class="col-12 col-md-3">
               <!-- <mat-label>{{'overTimeOrders.endDate' | translate}}</mat-label>
              <input required title="{{'lookup.tooltip' | translate}}" matInput [matDatepicker]="endDatePicker" formControlName="endDate" [(ngModel)]="endDate">
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker (opened)="onOpen(endDatePicker)" #endDatePicker [calendarHeaderComponent]="header"></mat-datepicker>  -->
              
              <app-mat-datepicker-shared 
              [parentForm]="form" [validform]="form.valid"  
              [lblName]= "'overTimeOrders.endDate' | translate"   
              [required]="true"  (event)="setSelectDays();"
              [title]="'lookup.tooltip' | translate"   
              [matDatepicker]="'endDatePicker'"
              [namecontrol]="'endDate'" >
            </app-mat-datepicker-shared> 

            </div>
          </div>
         <div class="row">
            <mat-form-field appearance="outline" class="col-12 col-md-3">
              <mat-label>{{'overTimeOrders.startTime' | translate}}</mat-label>
              <input required title="{{'lookup.tooltip' | translate}}" matInput type="time" formControlName="startTime">
            </mat-form-field>
           

           
              <mat-form-field appearance="outline" class="col-12 col-md-3">
                <mat-label>{{'overTimeOrders.endTime' | translate}}</mat-label>
                <input required title="{{'lookup.tooltip' | translate}}" matInput type="time" formControlName="endTime">
              </mat-form-field>
            
            
              <mat-form-field appearance="outline" class="col-12 col-md-3">
                <mat-label>{{'overTimeOrders.minimumOvertime' | translate}}</mat-label>
                <input required title="{{'lookup.tooltip' | translate}}" type="number" matInput formControlName="minimumOvertime"  min="0" oninput="this.value = Math.abs(this.value)">
              </mat-form-field>
            
            <div class="col-12 col-md-3">
              <mat-checkbox appearance="outline" [checked]="false" formControlName="isMustSignOverTime" color="primary" labelPosition="after">
                {{ 'overTimeOrders.isMustSignOverTime' | translate }}
              </mat-checkbox> 
            </div>
          </div>
         

          <div class="row">
        
            <div class="col-12 col-md-2 ">
              <div class="upload-btn-wrapper">
                <button mat-raised-button color="primary">
                  <mat-icon>add_box</mat-icon>
                  <span> {{'employeeAlowances.addAttachments' | translate}}</span>
                </button>
                <input #inputFile type="file" accept="*" formControlName="fileName"
                  (change)="onSelectedFilesChanged(inputFile)">
              </div>
              <label *ngIf="inputFile.value">{{ inputFile.value }}</label>
              <label  *ngIf="filePath && !inputFile.value">{{ filePath }}</label>

            </div>
            <div class="col-md-3" *ngIf="selectedFile" >
              <app-downloadfile [serviceName]="serviceName" [selectedFile]="selectedFile" ></app-downloadfile>
            </div>
          </div>
          <hr />  
          <app-week-days [initialList]="weekDays" [startDate]="startDate" [endDate]="endDate" #weekdays></app-week-days>
        </div>
      </mat-accordion>
    </mat-dialog-content>
  </mat-card>
  <app-save-and-close [form]="form" (close)="onAddSave($event)"></app-save-and-close>