<div [className]="'textAlign' | translate" [dir]="'dir' | translate">

  <app-dialogheader [text]="'adminmanger.title'" (onclick)="onNoClick('Close')"></app-dialogheader>

  <mat-dialog-content class="mat-typography" [formGroup]="form">
    <mat-accordion>
      <div class="example-container">
        <div class="row">
         

          <div class="col-md-12" >
            <app-select  [url]="'Employees/GetEmployeeDropDown'" formControlName="employeeId"
            [name]="'field.fullName' | translate" [isSearchable]="true" [hasTemplate]="true" [isMultiple]="false"
            (cancelEvent)="onEmployeeCancel()" [placeholder]="'employeeSelect' | translate"></app-select>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            
            <div class="row">
              <div class="col-md-12">                    
            <app-mat-datepicker-shared 
              [parentForm]="form" [lblName]= "'adminmanger.startdate' | translate"   
              [required]="true"   [title]="'lookup.tooltip' | translate"   
              [matDatepicker]="'startDatePicker'"  [namecontrol]="'startDate'"  >
            </app-mat-datepicker-shared> 
              </div>
              <div class="col-md-12">                             
                <app-mat-datepicker-shared 
                  [parentForm]="form" [lblName]= "'adminmanger.enddate' | translate"   
                   [title]="'lookup.tooltip' | translate"   
                  [matDatepicker]="'endDatePicker'"  [namecontrol]="'endDate'"  >
                </app-mat-datepicker-shared> 
                  </div>
            </div>
          
          </div>
          <div class="col-md-6 isDisabled">
            <app-prime-tree formControlName="adminId" [selectionMode]="'single'" (selected)="selectedNodes($event)">
            </app-prime-tree>
          </div>
        </div>

      </div>
    </mat-accordion>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button data-display="static" mat-raised-button color="primary" [disabled]="!this.form.valid" cdkFocusInitial
      (click)="onAddSave('SaveClose')">{{'saveclose' | translate}}</button>
  </mat-dialog-actions>

  <!-- <app-save-and-close [form]="form" (close)="closeConfirm($event)"></app-save-and-close> -->
</div>