.mat-form-field{
    display: block;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .example-container > * {
    width: 100%;
  }
  // =========================
  
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%
  }
  
  .btn {
    border: 2px solid rgb(54, 81, 235);
    color:rgb(26, 46, 46);
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  
  ::ng-deep .tabLabels .mat-tab-group {
    margin-bottom: 48px;
  }
  
  ::ng-deep .tabLabels .mat-tab-group.mat-primary .mat-ink-bar {
    background: white;
    left: 293px;
  }
  
  ::ng-deep .tabLabels .mat-tab-label {
    height: 48px !important;
    padding: 0 24px !important;
    color: white !important;
    min-width: 243px !important;
    font-size: 25px !important;
  }
  
  
  ::ng-deep .tabLabels .mat-tab-list {
    background: #132546 !important;
  }
  
  