<div [className]="'textAlign' | translate" [dir]="'dir' | translate">
  <app-dialogheader [text]="'lookup.country'" (onclick)="onNoClick('Close')"></app-dialogheader>
  <mat-dialog-content class="mat-typography" [formGroup]="form" novalidate > 
    <div class="example-container">
      <div class=row>
        <mat-form-field appearance="outline" class="col-12 col-md-12">
          <mat-label>{{'lookup.code' | translate}}</mat-label>
          <input matInput formControlName="code">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12 col-md-12">
          <mat-label>{{'lookup.nameFl' | translate}} - {{ localize.flLang | translate}}</mat-label>
          <input matInput formControlName="nameFl" required title="{{'lookup.tooltip' | translate}}">
        </mat-form-field>
        <mat-form-field [hidden]="!localize.multiLang" appearance="outline" class="col-12 col-md-12">
          <mat-label>{{'lookup.nameSl' | translate}} - {{ localize.slLang | translate}}</mat-label>
          <input matInput formControlName="nameSl" [requiredIf]="localize.multiLang" title="{{'lookup.tooltip' | translate}}">
        </mat-form-field>

      </div>
     
    </div>
  </mat-dialog-content>

  <app-save-and-close [form]="form" (close)="close($event)"></app-save-and-close>

</div>