
<mat-card style="height: 65px;">
  <div class="row">
    <div class="col-7" align="start">
      <input type="file" #file id="file" onclick="this.value = null" (change)="uploadFile($event)">
       <label for="file" class="btn-2"> {{'devices.Uploaddevices' | translate}}</label> 
    </div>
    <div class="col-5" align="end">
      <button mat-raised-button  class=" btn-download"  (click)="getExcelFile()" cdkFocusInitial>{{'devices.DownloadStandardSheet' | translate}}</button>
    </div>
  </div>
  
</mat-card>

<div relative>
    <app-data-table [url]="{
        getAll: 'devices/GetAllPaged',
        delete:'devices/delete'
      }"  [id]="'id'" [columns]="columns" [actions]="actions" [options]="{
          globalSearch: true,
          details: false
        }" [tableData]="tableData" (add)="addEvent($event)">
      </app-data-table>
</div>