<div [className]="'textAlign' | translate" [dir]="'dir' | translate">
<div class="bg-login">
  <div class="container h-100">
    <div class="row h-100 justify-content-center">
      <div class="m-auto col-lg-6">
        <mat-card>
          <header>
            <h3 class="header">{{'ForgetPassword.ForgetPassword' | translate}}</h3>
          </header> 
          <form [formGroup]="form" class="form-group" (ngSubmit)="sendMail()">
            
            <div class=row>
              <mat-form-field appearance="outline" class="col-12 col-md-12">
                <mat-label>{{'ForgetPassword.organizationCode' | translate}}</mat-label>
                <input matInput formControlName="organizationCode">
                <!-- <mat-error *ngIf="form.hasError('organizationCode') && !form.hasError('required')">                
                  {{'ForgetPassword.Pleaseenteravalidemailaddress' | translate}}
                </mat-error> -->
              </mat-form-field>
            
            </div> 

            <div class=row>
              <mat-form-field appearance="outline" class="col-12 col-md-12">
                <mat-label>{{'ForgetPassword.RegisterationEmail' | translate}}</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="form.hasError('email') && !form.hasError('required')">                
                  {{'ForgetPassword.Pleaseenteravalidemailaddress' | translate}}
                </mat-error>
              </mat-form-field>
            
            </div> 

            <div class="d-flex justify-content-between">
              <button style="color: white;" mat-raised-button color="primary" type="submit" [disabled]="!form.valid"> {{'ForgetPassword.send' | translate}}</button>

            </div>
          </form>
        </mat-card>
      </div>
      <div class="text-center w-100 m-auto login-footer">
        <span> {{'ForgetPassword.haveanaccount' | translate}}</span>
        <!-- <button   cdkFocusInitial>{{ | translate}}</button> -->
        <a style="color: deepskyblue;" mat-button (click)="GoToUrl('Apex')">{{'ForgetPassword.SignIn' | translate}}</a>
      </div>
    </div>
  </div>
  <app-loading *ngIf="showLoader"></app-loading>
</div>
</div>
