<div [className]="'textAlign' | translate" [dir]="'dir' | translate">
  <app-dialogheader [text]="'religions.religion'" (onclick)="onNoClick('Close')"></app-dialogheader>

  <mat-dialog-content class="mat-typography" [formGroup]="form">
    <div class="example-container">
      <div class=row>

        <mat-form-field appearance="outline" class="col-12 col-md-12">
          <mat-label>{{'religions.code' | translate}}</mat-label>
          <input matInput formControlName="code">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12 col-md-12">
          <mat-label>{{'religions.descriptionFl' | translate}}- {{ localize.flLang | translate}}</mat-label>
          <input matInput formControlName="descriptionFl" required title="{{'lookup.tooltip' | translate}}">
        </mat-form-field>
        <mat-form-field [hidden]="!localize.multiLang" appearance="outline" class="col-12 col-md-12">
          <mat-label>{{'religions.descriptionSl' | translate}}- {{ localize.slLang | translate}}</mat-label>
          <input matInput formControlName="descriptionSl" [requiredIf]="localize.multiLang" title="{{'lookup.tooltip' | translate}}">
        </mat-form-field>


      </div>
    </div>
  </mat-dialog-content>

  <app-save-and-close [form]="form" (close)="close($event)"></app-save-and-close>

</div>